@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy Bold/fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy/Gilroy Bold/fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy/Gilroy Bold/fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy Bold/fonts/Gilroy-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy Medium/fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy/Gilroy Medium/fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy/Gilroy Medium/fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy Medium/fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy Regular/fonts/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy/Gilroy Regular/fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy/Gilroy Regular/fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy Regular/fonts/Gilroy-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeliosBlackC';
	src: url('../fonts/HeliosBlackC/fonts/heliosblackc.eot');
	src: local('☺'), url('../fonts/HeliosBlackC/fonts/heliosblackc.woff') format('woff'), url('../fonts/HeliosBlackC/fonts/heliosblackc.ttf') format('truetype'), url('../fonts/HeliosBlackC/fonts/heliosblackc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeliosExtBlackC';
	src: url('../fonts/HeliosExtBlackC/fonts/heliosextblackc.eot');
	src: local('☺'), url('../fonts/HeliosExtBlackC/fonts/heliosextblackc.woff') format('woff'), url('../fonts/HeliosExtBlackC/fonts/heliosextblackc.ttf') format('truetype'), url('../fonts/HeliosExtBlackC/fonts/heliosextblackc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeliosExtC';
	src: url('../fonts/HeliosExtC/fonts/HeliosExtC Bold.eot');
	src: local('☺'), url('../fonts/HeliosExtC/fonts/HeliosExtC Bold.woff') format('woff'), url('../fonts/HeliosExtC/fonts/HeliosExtC Bold.ttf') format('truetype'), url('../fonts/HeliosExtC/fonts/HeliosExtC Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Mandatory Plaything';
	src: url('../fonts/Mandatory/fonts/Mandatory Plaything.eot');
	src: local('☺'), url('../fonts/Mandatory/fonts/Mandatory Plaything.woff') format('woff'), url('../fonts/Mandatory/fonts/Mandatory Plaything.ttf') format('truetype'), url('../fonts/Mandatory/fonts/Mandatory Plaything.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/Source Sans Pro/fonts/SourceSansPro-Regular.eot');
	src: local('☺'), url('../fonts/Source Sans Pro/fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/Source Sans Pro/fonts/SourceSansPro-Regular.ttf') format('truetype'), url('../fonts/Source Sans Pro/fonts/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SparTakus';
	src: url('../fonts/SparTakus/fonts/SparTakus.eot');
	src: local('☺'), url('../fonts/SparTakus/fonts/SparTakus.woff') format('woff'), url('../fonts/SparTakus/fonts/SparTakus.ttf') format('truetype'), url('../fonts/SparTakus/fonts/SparTakus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Light/fonts/PlusJakartaSans-Light.eot');
	src: local('☺'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Light/fonts/PlusJakartaSans-Light.woff') format('woff'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Light/fonts/PlusJakartaSans-Light.ttf') format('truetype'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Light/fonts/PlusJakartaSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Regular/fonts/PlusJakartaSans-Regular.eot');
	src: local('☺'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Regular/fonts/PlusJakartaSans-Regular.woff') format('woff'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Regular/fonts/PlusJakartaSans-Regular.ttf') format('truetype'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Regular/fonts/PlusJakartaSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Medium/fonts/PlusJakartaSans-Medium.eot');
	src: local('☺'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Medium/fonts/PlusJakartaSans-Medium.woff') format('woff'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Medium/fonts/PlusJakartaSans-Medium.ttf') format('truetype'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Medium/fonts/PlusJakartaSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Bold/fonts/PlusJakartaSans-Bold.eot');
	src: local('☺'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Bold/fonts/PlusJakartaSans-Bold.woff') format('woff'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Bold/fonts/PlusJakartaSans-Bold.ttf') format('truetype'), url('../fonts/Plus Jakarta Sans/Plus Jakarta Sans Bold/fonts/PlusJakartaSans-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
